<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <title>视图2</title>
</head>
<body>

<div class="row">
    <label class="col-md-2 control-label">属性形式</label>
    <div class="col-md-2">
        <!--使用属性形式调用-->
        <input type="text" class="form-control" date-picker>
    </div>
</div>

<div class="row">
    <label class="col-md-2 control-label">样式形式</label>
    <div class="col-md-2">
        <!--使用样式形式调用-->
        <input type="text" class="form-control date-picker">
    </div>
</div>

</body>
</html>